SECRET_KEY=change-me-in-production-very-long-random-string
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=eskom/alerts/zone1
MQTT_KEEPALIVE=60
MQTT_CLIENT_ID=fiber_monitoring_django

REDIS_HOST=localhost
REDIS_PORT=6379
